<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira Digital</title>
</head>
<body>
    <h1>Carteira Digital</h1>
    <h2>Saldo em Dólar: ${{ saldo_dolar }}</h2>
    <h2>Saldo em BTC: {{ saldo_btc }}</h2>
    <div>
        <h3>Valor Atual do Bitcoin:</h3>
        <span id="valor_btc_atual">Carregando...</span>
    </div>
    <h2>Histórico de Transações:</h2>
    <ul>
        {% for transacao in historico %}
            <li>{{ transacao }}</li>
        {% endfor %}
    </ul>
    <form action="/deposito" method="post">
        <label for="valor_deposito">Valor do Depósito em Dólar:</label>
        <input type="number" id="valor_deposito" name="valor_deposito" step="0.01" required>
        <button type="submit">Depositar</button>
    </form><br/>

    <form action="/saque" method="post">
        <label for="valor_saque">Valor do Saque em Dólar:</label>
        <input type="number" id="valor_saque" name="valor_saque" step="0.01" required>
        <button type="submit">Saque</button>
    </form><br/>

    <form action="/comprar_btc" method="post">
        <label for="valor_compra_btc">Valor da Compra de BTC em Dólar:</label>
        <input type="number" id="valor_compra_btc" name="valor_compra_btc" step="0.01" required>
        <button type="submit">Comprar BTC</button>
    </form><br/>
    
    <form action="/vender_btc" method="post">
        <label for="valor_venda_btc">Valor da Venda de BTC em Dólar:</label>
        <input type="number" id="valor_venda_btc" name="valor_venda_btc" step="0.01" required>
        <button type="submit">Vender BTC</button>
    </form><br/>

</body>
</html>

<script>
    function atualizarCarteira() {
        fetch('/atualizar_carteira')
            .then(response => response.json())
            .then(data => {
                document.getElementById('saldo_dolar').innerText = data.saldo_dolar;
                document.getElementById('saldo_btc').innerText = data.saldo_btc;
                // Atualize outros elementos conforme necessário
            });
    }
    // setInterval(atualizarCarteira, 5000); // Atualiza a cada 5 segundos (por exemplo)
</script>

<script>
    function consultarValorBTC() {
        fetch('/consultar_valor_btc_atual')
            .then(response => response.json())
            .then(data => {
                document.getElementById('valor_btc_atual').innerText = data.valor_btc;
            });
    }
    consultarValorBTC(); // Consulta o valor ao carregar a página
    setInterval(consultarValorBTC, 12000); // Atualiza a cada minuto
</script>