<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carteira Digital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <h1 class="titulo">Carteira Digital</h1>
    <div class="container">
        <div class="coluna coluna-left">
            <div class="saldo-info">
                <h3 class="saldo-dolar">Saldo em Dólar: ${{ saldo_dolar }}</h3>
                <h3 class="saldo-btc">Saldo em BTC: {{ saldo_btc }}</h3>
                <h4>Valor total do investimento em US$: {{ invest_dolar }}</h4>
                <h3>Valor Atual do Bitcoin: <span id="valor_btc_atual">{{ valor_btc_atual }}</span></h3>
                <h3>Preço médio de compra: <span id="preco-medio-compras">US$ {{ preco_medio }}</span></h3>
            </div>
            <form action="/zerar_saldos" method="get">
                <button type="submit">Zerar Saldo</button>
            </form>
        </div>

        <div class="coluna coluna-right">
            <form action="/deposito" method="post" onsubmit="adicionarTransacao('Depósito de $' + document.getElementById('valor_deposito').value)">
                <label for="valor_deposito"></label>
                <input type="number" id="valor_deposito" name="valor_deposito" step="0.01" required>
                <button type="submit">Deposito (em US$) <i class="fas fa-arrow-circle-up"></i></button>
            </form><br/>

            <form action="/saque" method="post" onsubmit="adicionarTransacao('Saque de $' + document.getElementById('valor_saque').value)">
                <label for="valor_saque"></label>
                <input type="number" id="valor_saque" name="valor_saque" step="0.01" required>
                <button type="submit">Saque (em US$)</button>
            </form><br/>

            <form action="/comprar_btc" method="post" onsubmit="adicionarTransacao('Compra de BTC de ' + document.getElementById('valor_compra_btc').value + ' BTC por $' + document.getElementById('valor_compra_btc').value)">
                <label for="valor_compra_btc"></label>
                <input type="number" id="valor_compra_btc" name="valor_compra_btc" step="0.01" required>
                <button type="submit">Comprar BTC (em US$)</button>
            </form><br/>

            <form action="/vender_btc" method="post" onsubmit="adicionarTransacao('Venda de BTC de ' + document.getElementById('valor_venda_btc').value + ' BTC por $' + document.getElementById('valor_venda_btc').value)">
                <label for="valor_venda_btc"></label>
                <input type="number" id="valor_venda_btc" name="valor_venda_btc" step="0.01" required>
                <button type="submit">Vender BTC (em US$)</button>
            </form><br/>

            <form action="/cotacao_btc" method="post">
                <label for="cotacao_btc"></label>
                <input type="number" id="cotacao_btc" name="cotacao_btc" step="0.01" required>
                <button type="submit">Cotacão do BTC (em US$)</button>
            </form><br/>

            <div id="mensagem-erro" style="color: red;"></div>
        </div>
    </div>

    <div class="historico">
        <h2>Histórico de Transações:</h2>
        <button onclick="limparLocalStorage()">Limpar Histórico</button>
        <button id="toggle-historico">Mostrar Histórico</button>
        <div id="historico" style="display: none;">
            {% for transacao in historico %}
                <p>{{ transacao }}</p>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>