<script>

    // Modifique a função para adicionar a transação ao histórico no localStorage
function adicionar_transacao_ao_historico(transacao) {
    // Obtém o histórico atual do localStorage
    var historico = JSON.parse(localStorage.getItem('historico')) || [];

    // Adiciona a nova transação ao histórico
    historico.push(transacao);

    // Atualiza o histórico no localStorage
    localStorage.setItem('historico', JSON.stringify(historico));
}

// Função para mostrar ou ocultar o histórico na página
function toggleHistorico() {
    var historicoDiv = document.getElementById('historico');
    var historico = JSON.parse(localStorage.getItem('historico')) || [];

    // Se houver transações no histórico, exibe-as
    if (historico.length > 0) {
        var historicoHTML = historico.map(function(transacao) {
            return '<p>' + transacao + '</p>';
        }).join('');

        historicoDiv.innerHTML = historicoHTML;
    } else {
        // Se não houver transações, exibe uma mensagem indicando isso
        historicoDiv.innerHTML = '<p>Nenhuma operação realizada</p>';
    }

    // Alterna a visibilidade do histórico
    if (historicoDiv.style.display === 'none') {
        historicoDiv.style.display = 'block';
    } else {
        historicoDiv.style.display = 'none';
    }
}

// Adiciona um ouvinte de evento ao botão de mostrar/ocultar histórico
document.getElementById('toggle-historico').addEventListener('click', toggleHistorico);


</script>
